<app-admin></app-admin>

<div class="background">
    <div class="container">
        <form [formGroup]="editPizza" (ngSubmit)="editPizzas()">
            <h3 class="mb-4 text-light mat-headline"><strong>EDIT PIZZA FOR SELL</strong></h3>
            <mat-form-field appearance="legacy">
                <mat-label>Pizza Name</mat-label>
                <input type="email" matInput placeholder="Ex. Margherita" formControlName="pizzaName">
                <mat-icon matSuffix>local_pizza</mat-icon>
            </mat-form-field>
            <mat-form-field appearance="legacy">
                <mat-label>--Select Pizza Type--</mat-label>
                <mat-select formControlName="pizzaType">
                    <mat-option>Clear</mat-option>
                    <mat-option value="Small">Small</mat-option>
                    <mat-option value="Medium">Medium</mat-option>
                    <mat-option value="Large">Large</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="legacy">
                <mat-label>Pizza Price</mat-label>
                <span matPrefix>₹ &nbsp;</span>
                <input type="number" matInput placeholder="Ex. 150" formControlName="pizzaPrice">
            </mat-form-field>
            <div class="mb-3 input-group-lg">
                <input type="file" placeholder="Choose Pizza Image" class="form-control" formControlName="pizzaImage">
            </div>
            <button type="submit" mat-raised-button color="accent" class="me-3" [disabled]="!editPizza.valid">Update Pizza</button>
            <button type="reset" mat-raised-button color="accent">Reset</button>
        </form>
    </div>
</div>