<app-admin></app-admin>

<div class="contain background">
    <table class="table table-dark table-striped">
        <tbody>
            <tr>
                <th scope="row" >Name</th>
                <td></td>
            </tr>
            <tr>
                <th scope="row">Email</th>
                <td ></td>
            </tr>
            <tr>
                <th scope="row">Phone No</th>
                <td></td>
            </tr>
            <tr>
                <th scope="row">Password</th>
                <td ></td>
            </tr>
        </tbody>
        <th><button class="btn btn-danger mt-3" routerLink="/adminLogin">Logout</button></th>
    </table>
</div>